################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/exctraction_validation/bin
/exctraction_validation/obj
/packages
/index.html
/dashboard.html